.pytest_cache
__pycache__/

# Project specific
data/videos/*.mp4
data/videos/*.avi
data/models/*.pt
outputs/frames/*.jpg
outputs/frames/*.png
outputs/results/*.mp4
yolov8n.pt


# Environment
tracknetx-env/
.conda/

